<section class="app-main-panel">
  <div class="container">
    <div class="portfolio">
      <div class="jumbotron">
        <h2 class="intro-text"> Welcome to Solid Trades </h2>
      </div>
      <div class="row intro">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <img src="assets/images/b463ec35-1b08-46b7-bbc7-b29cbd24bf3c.jpg" style="margin: auto; box-shadow: 1px 1px 5px #9c9c9c; height:auto" class="img-fluid">
        </div>
        <div class="col=lg-8 col-md-8 col-sm-8 description">
          <h3 style="color: rgb(33, 148, 9)"> Ali A. Panjwani [Head Trader] </h3>
          <p style="color: rgb(89, 113, 129)"> <strong> Welcome to my page "Solid Trades". I am a Ali A.K.A. Solid Trader. I have been trading for the past 3 years.
            I study chart patterns and subtleties inherent in stock markets to be a consistently profitable day trader.<br>
            I do enjoy outdoor activities as well. Besides hiking, climbing and skydiving, i have recently gotten interested in scuba diving.
            My goal here is to help you improve your trading and become a solid trader. Risk management is my number one rule,
            and let me show you how you can grow your account with this rule. Schedule a one on one here.
            <br>
            My goal is to help you improve your trading and becoming a solid trader, through my very important managment skills that I acquired thorough my years of trading
            journey.
            So, join me and schedule a one on one.
            <br><span><a href="#contact"><button class="btn btn-outline-primary bg-lg"> Click Here </button></a></span>
            </strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
