<div class="app-form">
  <div class="container form">
    <div class="contact-form" id="contact"></div>
      <div action="mailto:alipanjwani@hotmail.com">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 wel">
            <h3 style="color:rgb(33, 148, 9);"> Want to be a solid trader? Schedule a one on one!</h3>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 right">
            <div class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="Your Name" name="name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control form-control-lg" placeholder="YourEmail@email.com" name="email">
            </div>
            <div class="form-group">
                <textarea class="form-control form-control-lg">

                </textarea>
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Send" action="mailto:alipanjwani@hotmail.com" method="post" enctype="text/plain">
          </div>
      </div>
    </div>
  </div>
</div>
