<div class="app-blog">
  <div class="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12">
          <div class="card">
            <div class="card-img">
              <img src="assets/images/eb9ec263-127b-41f6-b286-13f98fecde5f.jpg" class="img-fluid">
            </div>

            <div class="card-body">
              <h4 class="card-title">Solid Trades </h4>
              <div class="card-text">
                <ul>
                  <li> I trade trend breaks, and look for patterns in intra-day charts. </li>
                  <li> I trade for the first two hours of the market, and last two hours (if market is volatile). I don't trade lunch hours. </li>
                  <li> Risk Management is the most important part of trading, followed by trading psychology. </li>
                  <li> I use TDameritrade as my broker, and Thinkorswim is the platform that I trade on. </li>
                  <li> I log all my trades, and review them on daily basis. </li>
                </ul>
              </div>
            </div>
            <!-- <div class="card-footer">
                <a href="" class="card-link">Learn More...</a>
            </div> -->
          </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12">
          <div class="card">
            <div class="card-img">
              <img src="https://images.pexels.com/photos/6229/marketing-board-strategy.jpg?cs=srgb&amp;dl=pexels-kaboompics-com-6229.jpg&amp;fm=jpg" class="img-fluid">
            </div>
            <div class="card-body">
              <h4 class="card-title"> Solid Rules </h4>
              <div class="card-text">
                <ul>
                  <li> Manage your losses. CUT LOSSES QUICKLY! </li>
                  <li> Do your due Dilligence. EFFORT IS EVERYTHING!</li>
                  <li> Never risk all your portfolio. </li>
                  <li> Know your patterns, and the ones that maximize your profit. </li>
                  <li> Make Watchlist Everyday. </li>
                </ul>
              </div>
            </div>
<!--            <div class="card-footer">-->
<!--              <a href="" class="card-link"></a>-->
<!--            </div>-->
          </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12">
          <div class="card">
            <div class="card-img">
              <img src="assets/images/e00983d2-89a2-43a1-a3b7-a98172d68333.jpg" class="img-fluid">
            </div>

            <div class="card-body">
              <h4 class="card-title"> Why Join Solid Trades </h4>
              <div class="card-text">
                <ul>
                  <li><a href="https://discord.gg/rrkSFN"> Daily Updated Watchlist </a></li>
                  <li> Pre-market Game Plan </li>
                  <li> Solid Risk Management Strategies </li>
                  <li><a href="https://discord.gg/"> Live Chatroom </a></li>
                  <li> Swing Trade Alerts </li>
                  <li> One on One Coaching </li>
                  <li> Trade Alerts </li>
                </ul>
              </div>
            </div>
<!--            <div class="card-footer">-->
<!--              <a href="" class="card-link"></a>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
